{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}
{% block sonata_profile_content %}
    {{ form_errors(form) }}

    {% form_theme form _self %}

    <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
        <div class="control-group">
            {{ form_errors(form.gender) }}
            {{ form_label(form.gender, 'label_profile_gender', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.gender) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.firstname) }}
            {{ form_label(form.firstname, 'label_profile_firstname', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.firstname) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.lastname) }}
            {{ form_label(form.lastname, 'label_profile_lastname', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.lastname) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.website) }}
            {{ form_label(form.website , 'label_profile_website', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.website) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.dateOfBirth) }}
            {{ form_label(form.dateOfBirth, 'label_profile_dob', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.dateOfBirth) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.biography) }}
            {{ form_label(form.biography, 'label_profile_biography', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.biography) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.locale) }}
            {{ form_label(form.locale, 'label_profile_locale', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.locale) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.timezone) }}
            {{ form_label(form.timezone, 'label_profile_timezone', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.timezone) }}</div>
        </div>
        <div class="control-group">
            {{ form_errors(form.phone) }}
            {{ form_label(form.phone, 'label_profile_phone', {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.phone) }}</div>
        </div>

        {{ form_rest(form) }}
        <input type="submit" name="submit"  class="btn btn-primary" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
    </form>
{% endblock %}