{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_authentication" | trans({}, 'SonataUserBundle')}}
{% endblock %}


{% block sonata_profile_content %}
    {% sonata_template_box 'This is the user authentication edition template. Feel free to override it.' %}

    <div class="row">
        <div class="span6">
            <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
                {{ form_rest(form) }}

                <input type="submit" name="submit" class="btn btn-primary" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
            </form>
        </div>
        <div class="span6">
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary"><i class="icon-lock icon-white"></i>&nbsp;{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</a>
        </div>
    </div>
{% endblock %}