{% extends base_template %}

{% block content %}
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form action="{{ path("sonata_user_admin_security_check") }}" method="post">

        <div class="clearfix">
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

            <div class="input">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="sonata-medium"/>
            </div>
        </div>

        <div class="clearfix">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

            <div class="input">
                <input type="password" id="password" name="_password" class="sonata-medium" />
            </div>
        </div>

        <div class="clearfix">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>

        <div class="actions">
            <input type="submit" class="btn primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock content %}
